.App{
  background-color: grey;
  border: 2px white solid;
  width: 70%;
  text-align: center;
  margin: auto auto;
}
body {
  background-color: blue;
}
.Q {
  /* display: none; */
  border-bottom: 1px white solid;
}
.cl {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: white;
}