.App{
  background-color: grey;
  border: 2px white solid;
  width: 70%;
  text-align: center;
  margin: auto auto;
}
/* body {
  background-color: blue;
} */
.plus , .minus , .display {
  display: inline-block;
  font-size: 50px;
}
.display {
  width: 90px;
}
.reset {
  background-color: blue;
}
.reset:hover {
  cursor: pointer;
}